
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">K2P Super User Utilities
                <small>Some things are best done by hand...</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="https://2.bp.blogspot.com/-ctu4mjo4a7U/Vr532380QxI/AAAAAAAAAuQ/ewN2cf5QCEs/s1600/Customer%2BService%2BSkeleton.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Customer Service Tools</h3>
            <h4>Tools for helping customers</h4>
            <p>Use ADMIN menu above to choose your poison.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>


    <!-- Pagination -->
  <!--
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    -->
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; K2P 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>

