<div id="main">Click GO to Copy STAGING to PROD</div>
<div id="log"></div>
<script type="text/javascript">


    function add_content(bashOutput){
        var html = ansi_up.ansi_to_html(bashOutput);
        $('div').append( html + '<br/>');
        var scrolledWindow = $('body').height() - $(window).height() + 80
        $(window).scrollTop(scrolledWindow);
    }

    // helper function: log message to screen
    function log(msg) {
        document.getElementById('log').textContent += msg + '\n';
    }

    log("Begin");
    var source = new EventSource('http://localhost:3000/stream');
    source.addEventListener('results', function(e){
        // console.log('Received a message:', e.data);
        // $("#users").append("<li>"+ $.parseJSON(e.data).name +"</li>");
        html = JSON.parse(e.data)
        //$('div').append( html + '<br/>');
        add_content(html);

    });
    source.addEventListener('finished', function(e){
        console.log('Close:', e.data);
        source.close();
    });
</script>
