<%# add navigation links to this file %>
 <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/users/new_user">Create New User</a></li>
        <li><a href="/users/get_token">Impersonate User</a></li>
        <li class="divider"></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </li>
<li><%= link_to 'About', page_path('about') %></li>
